# Python
__pycache__/
*.pyc

# Results & outputs
results/
results_wiki/
results.zip

# Generated plots & figures
*.pdf
*.png
plot.py
plot_source_distribution.py

# Intermediate data
ming.json
ming_reorder.json
